
    <div
    id="container-form">

    <form
    id="form"
    action="/artist-search"
    method="get"
    enctype="application/JSON">

    <label 
    for="artist-name">
    </label>

    <input
    type="text"
    name="artist"
    placeholder= "Search for an artist"
    >

    <button
    class="search-button"
    type="submit">Search for an artist
    </button>
    </form>

    </div>